language: scala
scala:
  - 2.10.4
  - 2.11.8
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7

cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"

script:
  - sbt clean coverage test coverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash)
